aside {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
.genresList-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.genresList-container .genre-container {
  height: 50px;
}
.genresList-container .genre-container .genreName {
  text-decoration: none;
}
