.list-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  min-width: 320px;
}
.card-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  height: 400px;
  text-align: center;
}
.card-title {
  font-size: 1.8rem;
  color: #f5f5f5;
}
.vote {
  width: 50px;
  font-size: 1.6rem;
  position: absolute;
  padding: 5px 0;
  left: calc(50% - 25px);
  top: -16px;
  color: #f5f5f5;
}
.average-vote-possitive {
  background-color: rgb(45, 129, 59);
}
.average-vote-negative {
  background-color: rgb(175, 34, 34);
}
.card-container:hover {
  transform: scale(1.1);
  transition: 100ms;
}
