.section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: justify;
  width: 80%;
  min-width: 320px;
  margin: 0 auto;
}
.section-container .text-container {
  width: 50%;
}
