.input-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.input-container input {
  padding: 5px 10px;
  border: 2px solid white;
}
