aside {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
.genresList-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.genresList-container .genre-container {
  height: 50px;
}
.genresList-container .genre-container .genreName {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 5rem;
  color: rgb(243, 103, 53);
}
.genresList-container .genre-container .genreName:hover {
  opacity: 0.8;
}
